a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    height: 60px;
    margin-top: -10px;
}

.transition {
    transition: all .5s ease;
}

.full-view {
    width: 100%;
    height: calc(100vh - 5px);
    overflow: hidden;
}

.carousel {
    margin-top: 92px;
}

.carousel-img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.container {
    min-width: 100vh;
}

.card {
    position: relative;
    background-color: #000;
    min-height: 26rem;
    border: 1px solid white;
}

.card .img-fluid {
    width: 100%;
    min-height: 28rem;
    cursor: pointer;
    border-radius: 5px;
}
@keyframes animation-film {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.card  .backgroud {
    display: none;
    position: absolute;
    visibility: hidden;
    border-radius: 5px;
    background-color: rgba(39, 1, 1, 0.747);
    width: 100%;
    min-height: 28rem;
    opacity: 0;

}

.card .backgroud .you-tube a img{
    max-width: 60px;
    width: 100%;
    text-align: center;
}
.card .backgroud .you-tube:hover a img {
    transform: scale(1.1);
}
.card:hover .backgroud  {
    display: block;
    visibility: visible;
    animation-name: animation-film;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.container-student {
    max-width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.student {
    font-size: 1rem;
    min-height: 1.25rem;
}

.responsibility {
    font-size: .75rem;
    min-height: 1.25rem;
    color: rgb(189, 185, 185);
}

.link .social-network {
    width: 1.25rem;
    cursor: pointer;
}

@media (max-width: 991px) {
    .d-none {
        display: flex !important;
    }
}


@media (max-width: 888px) {
    .footer-responsive {
        flex-direction: column;
    }

    .info-responsive,
    .link {
        text-align: start !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    .responsibility {
        text-align: start !important;
    }
}

@media (max-width: 425px) {
    .mobile {
        display: none;
    } 
    .card {
        min-height: 15rem;
    }
    .card .img-fluid {
        min-height: 15rem;
    }
    .card  .backgroud {
        min-height: 24.9rem;
    }
    .card .backgroud .you-tube a img {
        width: 50px;
        margin-top: 20px;
    }
    .card .backgroud .sinopse a {
        font-size: .625rem;
        height: 20px;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
}
@media (max-width: 375px) {

    .card {
        min-height: 20rem;
    }
    .card .img-fluid {
        min-height: 20rem;
    }
    .card  .backgroud {
        min-height: 20rem;
    }
    .card .backgroud .you-tube a img {
        width: 50px;
        margin-top: 20px;
    }
    .card .backgroud .sinopse a {
        font-size: .625rem;
        height: 20px;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
}