a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    height: 60px;
    margin-top: -10px;
}

.transition {
    transition: all .5s ease;
}

.full-view {
    width: 100%;
    height:calc(100vh - 5px);
    overflow: hidden;
}

.carousel {
    margin-top:92px;
}

.carousel-img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
}   
.container {
    min-width: 100vh;
}
.card .img-fluid {
    max-height: 21.875rem;
    transition: 0.5s;
}
.card .img-fluid:hover {
    transform: scale(1.1);
}
.container-student {
    max-width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.student {
    font-size: 1rem;
    min-height: 1.25rem;
}

.responsibility {
    font-size: .75rem;
    min-height: 1.25rem;
    color: rgb(189, 185, 185);
}

.link .social-network {
    width: 1.25rem;
    cursor: pointer;
}

@media (max-width: 888px) {
    .footer-responsive {
        flex-direction: column;
    }

    .info-responsive,
    .link {
        text-align: start !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    .responsibility {
        text-align: start !important;
    }
}